Repository hmcts/pip-data-management, pull requests merged in 2022-09, with the labels that each got.

#152 PUB-1536 Increase max file upload limit to 2MB
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-152

#154 Force upgrade snakeyaml version for CVE-2022-25857
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-154

#149 PUB-1521 Service-to-service fix
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientCreationTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-149

#153 PUB-1090 Add schema for crime Mags public list
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationMagsPublicListTest.java
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicList.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/main/resources/schemas/magistrates_public_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/resources/mocks/magistrates_public_list/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-153, add-or-update

#156 PUB-1386 Magistrates standard list validation schema
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationMagistratesStandardListTest.java
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardList.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/main/resources/schemas/magistrates_standard_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/resources/mocks/magistrates-standard-list/magistratesStandardList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-156

#151 PUB-1526 Add SJP press register
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-151

#150 PUB-1401 - MI endpoints
  .gitignore
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-150

#157 PUB-1086 Crown daily list schema
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCrownDailyListTest.java
  src/functionalTest/resources/data/crown-daily-list/crownDailyList.json
  src/functionalTest/resources/data/crown-daily-list/crownDailyListInvalid.json
  src/main/resources/application.yaml
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/master_schema.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/resources/mocks/crown-daily-list/crownDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-157

#158 PUB-1347 Add IAC_DAILY_LIST validation schema
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationIacDailyListTest.java
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/master_schema.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-158

#155 PUB-1527 Add scheduling endpoints
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-155

#159 PUB-1383 Crown Firm List schema
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCrownFirmListTest.java
  src/functionalTest/resources/data/crown_firm_list/crownFirmList.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmListInvalid.json
  src/main/resources/application.yaml
  src/main/resources/schemas/crown_firm_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/resources/mocks/crown_firm_list/crownFirmList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-159

#163 PUB-1320 - Tribunal Daily List Schema
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationEtDailyListTest.java
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/main/resources/schemas/et_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/JsonHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtDailyListTest.java
  src/test/resources/mocks/et-daily-list/etDailyList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-163

#160 PUB-1470 Care standards list validation schema
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCareStandardsListTest.java
  src/functionalTest/resources/data/care-standards-list/careStandardsList.json
  src/functionalTest/resources/data/care-standards-list/careStandardsListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/main/resources/schemas/care_standards_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/resources/mocks/care-standards-list/careStandardsList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-160

#161 PUB-1471 Primary health list validation schema
  README.md
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationPrimaryHealthListTest.java
  src/functionalTest/resources/data/primary-health-list/primaryHealthList.json
  src/functionalTest/resources/data/primary-health-list/primaryHealthListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/main/resources/schemas/primary_health_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/resources/mocks/primary-health-list/primaryHealthList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-161
