Repository hmcts/pip-data-management, pull requests merged in 2022-03, with the labels that each got.

#64 PUB-1074 -added scheduler for subscriptions
  build.gradle
  charts/pip-data-management/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/RestTemplateConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-64

#65 PUB-1038 updated court search to include admin search
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-65

#63 PUB-1040 - SJP Lists
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSjpPressTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSjpPublicTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/data/daily-cause-list/dailyCauseList.json
  src/integrationTest/resources/data/daily-cause-list/dailyCauseListInvalid.json
  src/integrationTest/resources/data/sjp-press-list/sjpPressList.json
  src/integrationTest/resources/data/sjp-press-list/sjpPressListInvalid.json
  src/integrationTest/resources/data/sjp-public-list/sjpPublicList.json
  src/integrationTest/resources/data/sjp-public-list/sjpPublicListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/resources/mocks/badJsonPayload.json
  src/test/resources/mocks/daily-cause-list/dailyCauseList.json
  src/test/resources/mocks/daily-cause-list/dailyCauseListInvalid.json
  src/test/resources/mocks/jsonPayload.json
  src/test/resources/mocks/sjp-press-list/sjpPressList.json
  src/test/resources/mocks/sjp-press-list/sjpPressListInvalid.json
  src/test/resources/mocks/sjp-public-list/sjpPublicList.json
  src/test/resources/mocks/sjp-public-list/sjpPublicListInvalid.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-63

#62 Pub 1073 subs man trigger
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-62

#69 Pub-1111 - capitalisation manipulation of the imported data
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/Court.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-69

#70 Master into demo
  README.md
  build.gradle
  charts/pip-data-management/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSjpPressTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSjpPublicTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/data/daily-cause-list/dailyCauseList.json
  src/integrationTest/resources/data/daily-cause-list/dailyCauseListInvalid.json
  src/integrationTest/resources/data/sjp-press-list/sjpPressList.json
  src/integrationTest/resources/data/sjp-press-list/sjpPressListInvalid.json
  src/integrationTest/resources/data/sjp-public-list/sjpPublicList.json
  src/integrationTest/resources/data/sjp-public-list/sjpPublicListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/Court.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/RestTemplateConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/resources/application-test.yaml
  src/test/resources/mocks/badJsonPayload.json
  src/test/resources/mocks/daily-cause-list/dailyCauseList.json
  src/test/resources/mocks/daily-cause-list/dailyCauseListInvalid.json
  src/test/resources/mocks/jsonPayload.json
  src/test/resources/mocks/sjp-press-list/sjpPressList.json
  src/test/resources/mocks/sjp-press-list/sjpPressListInvalid.json
  src/test/resources/mocks/sjp-public-list/sjpPublicList.json
  src/test/resources/mocks/sjp-public-list/sjpPublicListInvalid.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-70

#76 PUB-1237 - Flyway Reference Data Load
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__Sjp_court_load.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/PendingMigrationScriptExceptionTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-76
