Repository hmcts/pip-data-management, pull requests merged in 2022-04, with the labels that each got.

#84 PUB-1144 Setup APIM Endpoint
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/data.tf
  infrastructure/dev.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/providers.tf
  infrastructure/resources/api-policy/api-policy.xml
  infrastructure/resources/operation-policies/publications-get-by-court-id.xml-hold
  infrastructure/resources/swagger/api-swagger.json
  infrastructure/sbox.tfvars
  infrastructure/stg.tfvars
  infrastructure/tf-apim-api.tf
  infrastructure/tf-apim-operations.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-84

#86 PUB-1144 - Change from Swagger to Open API
  infrastructure/tf-apim-api.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-86

#75 PUB 1081 - Updated Mandatory fields
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationMissingHeadersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPressTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPublicTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-75

#87 Comment out JWT Validation until configured
  infrastructure/resources/api-policy/api-policy.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-87

#91 PUB-1144 - Update sub bool, add get, update backend service URL
  infrastructure/resources/operation-policies/uploadPublicationUsingPOST_1.xml
  infrastructure/resources/swagger/api-swagger.json
  infrastructure/tf-apim-api.tf
  infrastructure/tf-apim-operations.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-91

#96 PUB-1144 - Remove API Policy
  infrastructure/main.tf
  infrastructure/tf-apim-api.tf
  infrastructure/variables.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-96

#92 PUB-1239 - Add dedicated database
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.sbox.template.yaml
  charts/pip-data-management/values.yaml
  infrastructure/data.tf
  infrastructure/main.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-92

#98 Demo master reverting
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSjpPressTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSjpPublicTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__Sjp_court_load.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-98

#99 Merge Demo
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationMissingHeadersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPressTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPublicTest.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/data/civil-daily-cause-list/civilDailyCauseList.json
  src/integrationTest/resources/data/civil-daily-cause-list/civilDailyCauseListInvalid.json
  src/integrationTest/resources/data/family-daily-cause-list/familyDailyCauseList.json
  src/integrationTest/resources/data/family-daily-cause-list/familyDailyCauseListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractor.java
  src/main/resources/application.yaml
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/master_schema.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseList.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseListInvalid.json
  src/test/resources/mocks/family-daily-cause-list/familyDailyCauseList.json
  src/test/resources/mocks/family-daily-cause-list/familyDailyCauseListInvalid.json
  src/test/resources/mocks/jsonPayload.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-99

#73 PUB-1070 - Reference Table Conversion Routine
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationInternalCourtIdTest.java
  src/integrationTest/resources/courts/ValidReferenceData.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-73

#89 PUB-1113 - Updated dependencies
  build.gradle
  charts/pip-data-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-89

#82 PUB-1212 - Validation schema for Civil Cause Version 2
  src/integrationTest/resources/data/civil-daily-cause-list/civilDailyCauseList.json
  src/integrationTest/resources/data/civil-daily-cause-list/civilDailyCauseListInvalid.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseList.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseListInvalid.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-82

#103 PUB-1149 Add Authentication
  infrastructure/data.tf
  infrastructure/resources/api-policy/api-policy.xml
  infrastructure/resources/operation-policies/uploadPublicationUsingPOST_1.xml
  infrastructure/tf-apim-api.tf
  infrastructure/tf-apim-logger.tf
  infrastructure/tf-apim-operations.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-103

#85 PUB-1242 - Date Time Zone
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/ApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-85

#104 Fix Integration Tests
  src/integrationTest/resources/data/artefact.json
  src/integrationTest/resources/data/civil-daily-cause-list/civilDailyCauseList.json
  src/integrationTest/resources/data/civil-daily-cause-list/civilDailyCauseListInvalid.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-104
