Repository hmcts/pip-data-management, pull requests merged in 2022-01, with the labels that each got.

#35 Pub 945 collate backend blobs
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/UnauthorisedRequestException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Sensitivity.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-35

#43 PUB-1005-log4j-Upgrade log4j2 and springboot version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-43

#38 Pub 1000v2 change postgres
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/application-test.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtEventGlossaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/FilterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LiveCaseStatusServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-38

#45 Added SJP to courts list
  src/main/resources/mocks/courtsAndHearingsCount.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-45

#46 Pre release merge into master
  README.md
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/data/artefact.json
  src/integrationTest/resources/mocks/courtsAndHearingsCount.json
  src/integrationTest/resources/mocks/hearingsList.json
  src/integrationTest/resources/mocks/liveCaseStatusUpdates.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/PublicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/SearchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/EmptyRequestHeaderException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/UnauthorisedRequestException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ArtefactType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Language.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Sensitivity.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/Extractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractor.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/main/resources/mocks/courtsAndHearingsCount.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtEventGlossaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/FilterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LiveCaseStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractorTest.java
  src/test/resources/application-test.yaml
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-46

#47 PUB-881 - Updated hearing to return 24hr time, updated and added tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingApiTest.java
  src/integrationTest/resources/data/hearingResponse.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/Hearing.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-47

#39 PUB-1003 - Removed required=false from the date from and to fields in publicatio…
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/DateValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/EmptyRequestHeaderException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/EmptyRequiredHeaderException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/HeaderValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/HeaderGroup.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-39

#48 PUB-545 file ingestion
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/PublicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/FlatFileException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ArtefactType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/HeaderGroup.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-48
