Repository hmcts/pip-data-management, pull requests merged in 2022-10, with the labels that each got.

#165 PUB-1346 Add venue contact to IAC daily list validation schema
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/main/resources/schemas/iac_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-165

#168 Add postcode validation back in
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-168

#164 Add validation schema for crown warned list
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCrownWarnedListTest.java
  src/functionalTest/resources/data/crown-warned-list/crownWarnedList.json
  src/functionalTest/resources/data/crown-warned-list/crownWarnedListInvalid.json
  src/main/resources/application.yaml
  src/main/resources/schemas/crown_warned_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownWarnedListTest.java
  src/test/resources/mocks/crown-warned-list/crownWarnedList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-164

#171 Revert master
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-171

#170 PUB-1468 Care Standards List Schema changes
  src/functionalTest/resources/data/care-standards-list/careStandardsList.json
  src/functionalTest/resources/data/care-standards-list/careStandardsListInvalid.json
  src/main/resources/schemas/care_standards_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/resources/mocks/care-standards-list/careStandardsList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-170

#167 PUB-1529 - Removed scheduling
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SchedulerTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-167

#176 Added dependabot
  .github/dependabot.yml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-176
