Repository hmcts/pip-data-management, pull requests merged in 2022-05, with the labels that each got.

#77 Pub 1080 schedule delete
  README.md
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-77

#102 PUB 1084 & PUB-1085 Service to Service
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationMissingHeadersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationUnauthorizedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPressTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPublicTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/authentication/roles/IsAdmin.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/authentication/roles/IsPublisher.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/SwaggerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientCreationTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-102

#100 PUB-1170 Add db script to update SJP court name.
  src/main/resources/db/migration/V1.2__Sjp_court_load.sql
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-100

#106 remove specific compent name
  infrastructure/data.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-106

#107 added optional header to upload to track manual uploads
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-107

#109 PUB-1264-updated court to location and inculuded new logic
  README.md
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/integrationTest/resources/courts/ValidCsv.csv
  src/integrationTest/resources/courts/ValidReferenceData.csv
  src/integrationTest/resources/location/InvalidCsv.txt
  src/integrationTest/resources/location/ValidCsv.csv
  src/integrationTest/resources/location/ValidReferenceData.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/LocationNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/Court.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/CourtReference.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/CourtViews.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationCsv.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationReference.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationViews.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/CourtService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__Sjp_court_load.sql
  src/main/resources/db/migration/V1.2__Sjp_court_load.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/PendingMigrationScriptExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/resources/csv/ValidCsv.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-109

#111 Pub 1267 logic changes location type
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationUnauthorizedTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-111

#114 Pub 1265 reference table welsh
  README.md
  src/integrationTest/resources/location/ValidCsv.csv
  src/integrationTest/resources/location/ValidReferenceData.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationCsv.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/resources/csv/ValidCsv.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-114

#119 Add APIM to Production
  infrastructure/main.tf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-119
