Repository hmcts/pip-data-management, pull requests merged in 2022-07, with the labels that each got.

#129 PUB-1335 Civil and family daily cause list
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCivilAndFamilyCauseListTest.java
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
  src/integrationTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/integrationTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/services/TestClass.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-129

#122 PUB-1341 - Added logging to data management
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-122

#135 Pub 1420 content date dupe logic
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-135

#137 PUB 1276 - Welsh filters and court search
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/resources/location/ValidCsv.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-137

#134 PUB-1261 SSCS daily list validation schema
  README.md
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSscsDailyListTest.java
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyList.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/sscs_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyListInvalid.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-134

#143 Updated chart
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-143

#144 Merge Develop to Master
  README.md
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  infrastructure/providers.tf
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCopDailyCauseListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSscsDailyListTest.java
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseList.json
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseListInvalid.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyList.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseListInvalid.json
  src/test/resources/mocks/cop-daily-cause-list/copDailyCauseList.json
  src/test/resources/mocks/sjp-press-list/sjpPressListInvalid.json
  src/test/resources/mocks/sjp-public-list/sjpPublicListInvalid.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-144
