Repository hmcts/pip-data-management, pull requests merged in 2022-11, with the labels that each got.

#175 PUB-1597 Spring Updates
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusUpdatesController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/RootController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/SwaggerConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-175

#204 Fix DM pipeline
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-204

#173 PUB-1551 Update MI data generation
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-173

#174 PUB-1547 - Updated list types with reporting restriction detail
  src/functionalTest/resources/data/crown-daily-list/crownDailyList.json
  src/functionalTest/resources/data/crown-daily-list/crownDailyListInvalid.json
  src/functionalTest/resources/data/crown-warned-list/crownWarnedList.json
  src/functionalTest/resources/data/crown-warned-list/crownWarnedListInvalid.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmList.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmListInvalid.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardList.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardListInvalid.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicList.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicListInvalid.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/test/resources/mocks/crown-daily-list/crownDailyList.json
  src/test/resources/mocks/crown-warned-list/crownWarnedList.json
  src/test/resources/mocks/crown_firm_list/crownFirmList.json
  src/test/resources/mocks/magistrates-standard-list/magistratesStandardList.json
  src/test/resources/mocks/magistrates_public_list/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-174

#172 PUB-1586 Creation and storing of publications
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCivilAndFamilyCauseListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCopDailyCauseListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCrownDailyListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCrownFirmListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationCrownWarnedListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationEtFortnightlyPressList.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationIacDailyListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationMagsPublicListTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-172

#205 PUB-1618 - Added security + Updated test
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-205

#202 PUB-1589 - Table Updates
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/views/ArtefactView.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__Sjp_court_load.sql
  src/main/resources/db/migration/V1.2__Sjp_court_load.sql
  src/main/resources/db/migration/V1.3__migrate-fields.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/PendingMigrationScriptExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-202

#210 PUB-1589 - Fix formatting
  src/main/resources/db/migration/V1.1__Sjp_court_load.sql
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-210

#203 PUB-1595 Add materialised view
  README.md
  src/main/resources/db/migration/V1.4__add-materialised-view.sql
  src/main/resources/db/migration/V1.5__add-location-mv.sql
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-203

#207 PUB-1595 - Create User
  infrastructure/data.tf
  infrastructure/providers.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-207

#206 PUB-1612 - Blob Extraction
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-206

#219 CVE-2022-41946 Upgrade postgresql dependency
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-219

#212 PUB-1636 Download reference data as CSV
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationCsv.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-212
