Repository hmcts/pip-data-management, pull requests merged in 2022-12, with the labels that each got.

#216 PUB-1590 Archive artefacts
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-216

#232 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-232

#218 PUB-1598 Upgrade HMCTS logging components to latest version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-218

#229 PUB-1703 Fix Auto Blob Deletion bug
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-229

#236 PUB-1678 Java 17 upgrade
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationEtFortnightlyPressListTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/RestTemplateConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ConstantsTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtEventGlossaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/FilterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LiveCaseStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownWarnedListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtFortnightlyPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-236

#238 Updated Suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-238

#234 PUB-1625 APIM Logging Updates
  infrastructure/tf-apim-logger.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-234

#235 PUB-1625 Added custom logging for failed publications
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/HeaderGroup.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownWarnedListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtFortnightlyPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-235
