Repository hmcts/pip-data-management, pull requests merged in 2022-02, with the labels that each got.

#49 PUB - 1022 Daily Cause List Validation
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/data/dailyCauseList.json
  src/integrationTest/resources/data/dailyCauseListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/DateValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/EmptyRequiredHeaderException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/PayloadValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/Extractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractor.java
  src/main/resources/application.yaml
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/master_schema.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractorTest.java
  src/test/resources/mocks/badJsonPayload.json
  src/test/resources/mocks/dailyCauseList.json
  src/test/resources/mocks/dailyCauseListInvalid.json
  src/test/resources/mocks/jsonPayload.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-49

#52 Pre release into Master
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/data/dailyCauseList.json
  src/integrationTest/resources/data/dailyCauseListInvalid.json
  src/integrationTest/resources/data/hearingResponse.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/PublicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/DateValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/EmptyRequiredHeaderException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/FlatFileException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/HeaderValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/PayloadValidationException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/Hearing.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ArtefactType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/HeaderGroup.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/Extractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractor.java
  src/main/resources/application.yaml
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/master_schema.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractorTest.java
  src/test/resources/mocks/badJsonPayload.json
  src/test/resources/mocks/dailyCauseList.json
  src/test/resources/mocks/dailyCauseListInvalid.json
  src/test/resources/mocks/jsonPayload.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-52

#51 PUB 1045 - Metadata Endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/schemas/civil_daily_cause_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-51

#58 Update Chart version for AKS Upgrade
  charts/pip-data-management/Chart.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-58

#59 PUB-1045 - Header Information
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/schemas/civil_daily_cause_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-59

#55 Pub 984 read pdfs
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-55

#56 PUB-927 - Court Reference Data
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/courts/InvalidCsv.txt
  src/integrationTest/resources/courts/ValidCsv.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearings.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CsvParseException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/Court.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/CourtMethods.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/Court.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/CourtCsv.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/CourtReference.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/court/CourtViews.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/request/FilterRequest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/CourtService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/FilterService.java
  src/main/resources/application.yaml
  src/main/resources/mocks/liveCaseStatusUpdates.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearingsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/CourtHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/FilterServiceTest.java
  src/test/resources/csv/InvalidCsv.txt
  src/test/resources/csv/ValidCsv.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-56

#57 PUB-948 - Added search API for artefacts under case values
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/data/dailyCauseList.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/ArtefactNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/CaseSearchTerm.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/resources/mocks/jsonPayload.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-57

#61 PUB-1023 - Updated Daily Cause List Schema
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/resources/data/dailyCauseList.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/master_schema.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-61
