Repository hmcts/pip-data-management, pull requests merged in 2023-02, with the labels that each got.

#275 PUB-1769 MI report enhancements
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-275

#277 PUB-1780 Fix reference data upload issue
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/resources/location/InvalidCsvWithoutLocationType.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationDeletion.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/resources/csv/InvalidNoLocationType.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-277

#280 PUB-1783 - Automate updating with base branch
  .github/workflows/update-pr.yml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-280

#291 Get MI data where location ID is not a number
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-291

#279 PUB-1811 - Updated terraform and azurerm
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-279

#292 PUB-1795 Display organisation name party for Family and Mixed list
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/family-daily-cause-list/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-292

#263 PUB-1675 Recreate Artefact MV
  Jenkinsfile_parameterized
  infrastructure/tf-db-main.tf
  src/main/resources/db/migration/V1.6__add-is-flat-file-to-artefact-mv.sql
Labels: ns:pip, prd:pip, destroy, rel:pip-data-management-pr-263

#301 Re added role for MV
  infrastructure/tf-db-main.tf
Labels: ns:pip, prd:pip, destroy, rel:pip-data-management-pr-301

#300 PUB-1819
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-300

#266 PUB-1777 Fix Bug In Location Count
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationDeletion.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-266

#296 PUB-1663 Clear Subscriptions
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-296

#297 PUB-1664 Delete Artefact for location
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/external/account/management/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-297

#306 PUB-1858 NoMatch artefacts in blob explorer
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/NoMatchArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-306

#309 Updated gradle + suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-309
