Repository hmcts/pip-data-management, pull requests merged in 2023-03, with the labels that each got.

#305 PUB-1881 Display Location Specific Message
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationCsv.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/resources/csv/ValidCsv.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-305

#307 PUB-1902 Cleanup ET Lists validation schema
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-307

#304 PUB-1821 - Updated location type + also removed suppressions
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-304

#323 PUB-1910 - Updated dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-323

#325 PUB-1925 - Updated ET lists
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationEtDailyListTest.java
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressListInvalid.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-325

#326 PUB-1914 - Readme Changes
  README.md
  data-man-arch.png
  hmctsLogo.png
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-326

#328 Functional test for archiveExpiredArtefacts endpoint is modified
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-328
