Repository hmcts/pip-data-management, pull requests merged in 2023-08, with the labels that each got.

#412 Pub 2054 - Add SJP delta press list
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPressTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-412

#414 PUB-2084 - Updated App Insights to use connection string
  Dockerfile
  README.md
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-414

#429 PUB-2105 Make SJP press list sub-address and sub-individual details fields non-mandatory
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPressTest.java
  src/functionalTest/resources/data/sjp-press-list/sjpPressListInvalid.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/resources/mocks/sjp-press-list/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-429

#432 Added deployment to test env for apim
  infrastructure/main.tf
  infrastructure/test.tfvars
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-432

#434 PUB-1763 - Add demo into deployed envs
  infrastructure/main.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-434

#433 PUB-2106 Update COP_DAILY_CAUSE_LIST validation schema
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseList.json
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseListInvalid.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/resources/mocks/cop-daily-cause-list/copDailyCauseList.json
  src/test/resources/mocks/jsonPayload.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-433

#435 Pub 1904
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/main/resources/schemas/iac_daily_list.json
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-435

#440 Fixed spring CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-440
