Repository hmcts/pip-data-management, pull requests merged in 2023-09, with the labels that each got.

#441 PUB-2129 - Removed court room name from ET Fortnightly
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressListInvalid.json
  src/functionalTest/resources/mocks/courtsAndHearingsCount.json
  src/main/resources/mocks/courtsAndHearingsCount.json
  src/test/resources/mocks/courtsAndHearingsCount.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-441

#439 PUB-2124 - Updated to use rennovate
  .github/dependabot.yml
  .github/renovate.json
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-439

#442 PUB-2128 - Removed Rep from ET Daily List
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/main/resources/schemas/et_daily_list.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-442

#438 PUB-2143 Notify Courtel after artefact has been deleted/archived
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-438

#455 PUB-1984 - Updated SJP Public List schema
  src/functionalTest/resources/data/sjp-public-list/sjpPublicList.json
  src/functionalTest/resources/data/sjp-public-list/sjpPublicListInvalid.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/resources/mocks/sjp-public-list/sjpPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-455

#437 PUB-1711 Call channel management to delete publication files
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTestConfiguration.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobClientCreationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-437

#456 PUB-2147 - Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-456

#457 PUB-1982 Allow organisation details in SJP Public List accused party
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/resources/mocks/sjp-public-list/sjpPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-457
