Repository hmcts/pip-data-management, pull requests merged in 2023-06, with the labels that each got.

#380 PUB-1996 - Updated dependencies
  build.gradle
  charts/pip-data-management/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-380

#379 PUB-1945 Return full individual names and organisations in the search value
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/PartySearchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/resources/mocks/jsonPayloadWithParties.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-379

#387 Suppress CVE-2023-35116
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-387

#382 PUB-1918 Remove brackets from case sequence indicator in test files
  src/functionalTest/resources/data/artefact.json
  src/functionalTest/resources/data/care-standards-list/careStandardsList.json
  src/functionalTest/resources/data/care-standards-list/careStandardsListInvalid.json
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
  src/functionalTest/resources/data/civil-daily-cause-list/civilDailyCauseList.json
  src/functionalTest/resources/data/civil-daily-cause-list/civilDailyCauseListInvalid.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmList.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmListInvalid.json
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressListInvalid.json
  src/functionalTest/resources/data/family-daily-cause-list/familyDailyCauseList.json
  src/functionalTest/resources/data/family-daily-cause-list/familyDailyCauseListInvalid.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardList.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardListInvalid.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicList.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicListInvalid.json
  src/functionalTest/resources/data/primary-health-list/primaryHealthList.json
  src/functionalTest/resources/data/primary-health-list/primaryHealthListInvalid.json
  src/main/resources/schemas/care_standards_list.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/primary_health_list.json
  src/test/resources/mocks/care-standards-list/careStandardsList.json
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseList.json
  src/test/resources/mocks/crown_firm_list/crownFirmList.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
  src/test/resources/mocks/family-daily-cause-list/familyDailyCauseList.json
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
  src/test/resources/mocks/magistrates-standard-list/magistratesStandardList.json
  src/test/resources/mocks/magistrates_public_list/magistratesPublicList.json
  src/test/resources/mocks/primary-health-list/primaryHealthList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-382
