Repository hmcts/pip-data-management, pull requests merged in 2023-12, with the labels that each got.

#506 PUB-1851 - Added java docs to the get MI controller
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-506

#507 Pub 221 et lists
  config/owasp/suppressions.xml
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressListInvalid.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-507

#504 PUB-2224 - Added validation against regex
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/RegexValidationTest.java
  src/functionalTest/resources/data/regex-testing/html-tag-only-end.json
  src/functionalTest/resources/data/regex-testing/html-tag-only-start.json
  src/functionalTest/resources/data/regex-testing/html-tag-populated.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/schemas/care_standards_list.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/opa_press_list.json
  src/main/resources/schemas/opa_public_list.json
  src/main/resources/schemas/primary_health_list.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/resources/mocks/badJsonWithDuplicateError.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-504

#515 Updated dependency check
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-515

#513 Pub 2092 clean up test existing mags
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicList.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicListInvalid.json
  src/main/resources/schemas/magistrates_public_list.json
  src/test/resources/mocks/magistrates_public_list/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-513
