Repository hmcts/pip-data-management, pull requests merged in 2023-07, with the labels that each got.

#405 Suppress CVE-2023-34462
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-405

#385 PUB-1995 Add testing support endpoints
  README.md
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.stg.template.yaml
  charts/pip-data-management/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-385

#386 PUB-2009 Allow party organisation in SSCS daily list schema
  src/main/resources/schemas/sscs_daily_list.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-386

#388 PUB-1687 - Spring Boot V3 Upgrade
  bin/init.sh
  build.gradle
  charts/pip-data-management/values.dev.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationReference.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/HeaderGroup.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/SpringSecurityConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-388

#406 PUB-2079 Update dependencies + gradle
  build.gradle
  charts/pip-data-management/Chart.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-406

#413 Updated nightly build
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-413

#411 PUB-1985 Allow organisation details for accused party
  src/main/resources/schemas/single_justice_procedure_press.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/resources/mocks/sjp-press-list/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-411

#389 PUB-1793 Use Azure MI default Azure credential for blob access
  README.md
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobClientCreationTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-389

#415 Fixed pipeline vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-415
