Repository hmcts/pip-data-management, pull requests merged in 2023-01, with the labels that each got.

#242 Merge Freeze to Master
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  infrastructure/tf-apim-logger.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationEtFortnightlyPressListTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/HeaderGroup.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/RestTemplateConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ConstantsTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtEventGlossaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/FilterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LiveCaseStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownWarnedListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtFortnightlyPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-242

#262 Fixed dependencies
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-262

#237 PUB-1665 Refactor code for all artefacts per location endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-237

#265 PUB-1665 Revert
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-265

#257 PUB-1634 Added functional tests for "Unauthorized" status code
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-257

#243 PUB-1738 Remove code smells
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusUpdatesController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearings.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/views/ArtefactView.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/FilterService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-243

#217 PUB-1637 Delete Court
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/location/ValidCsvForDeleteCourt.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationDeletion.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/request/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-217

#258 PUB-1686 Refactor publication service
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerServiceTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-258

#276 Freeze
  Jenkinsfile_CNP
  charts/pip-data-management/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/location/ValidCsvForDeleteCourt.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusUpdatesController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearings.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/LocationDeletion.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/views/ArtefactView.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/request/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/FilterService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-276

#268 PUB-1768 Add SSCS daily list - additional hearings
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSscsDailyListTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/ListType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-268

#270 PUB-1791 Civil List Schema Changes
  src/main/resources/schemas/civil_daily_cause_list.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-270

#278 Upgrade owasp dependency check
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-278
