Repository hmcts/pip-data-management, pull requests merged in 2024-05, with the labels that each got.

#582 PUB-2183 - Updated Sampling Rate
  infrastructure/tf-apim-logger.tf
Labels: ns:pip, prd:pip, stg/add-or-update, rel:pip-data-management-pr-582

#583 PUB-2440 Removed party name search option
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSubscriptionSearchTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/CaseSearchTerm.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-583

#584 PUB-2196: Adding organisationDetails to schemas
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/test/resources/mocks/crown-daily-list/crownDailyList.json
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-584

#588 PUB-2459 SJP Press List offence wording schema change
  src/main/resources/schemas/single_justice_procedure_press.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/resources/mocks/sjp-press-list/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-588

#587 PUB-2447 - Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationMissingHeadersTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/DataStorageNotFoundException.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-587

#589 PUB-2468 Add SJP Delta Public List schema
  build.gradle
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPublicTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationCreationRunner.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-589

#593 Updated azurerm version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update

#590 PUB-2227 Add validation to Location upload
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/ContainsForbiddenValuesException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/resources/csv/ValidCsvWithInvalidCourtName.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-590

#598 PUB-2484 - Accept new line characters for SJP Press wording
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-598
