Repository hmcts/pip-data-management, pull requests merged in 2024-03, with the labels that each got.

#559 PUB-2341 - Removed informant from sscsDailyList.json and sscsDailyLis…
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyList.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyListInvalid.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-559

#564 PUB-2310 - Data Management Performance Improvements
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearings.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/HearingNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/Hearing.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/FilterService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/Extractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractor.java
  src/main/resources/mocks/hearingsList.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearingsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/CourtHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/FilterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/PayloadExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/hearingparty/JsonExtractorTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-564

#570 PUB-2281 - Remove trailing slash
  infrastructure/resources/operation-policies/uploadPublication.xml
  infrastructure/resources/operation-policies/welcome.xml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebConfiguration.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-570

#568 PUB-2351 - Update Keep Alive timeout
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-568

#554 PUB 2232 - Update ET/IAC/SSCS to use party at case level
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtFortnightlyPressListTest.java
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
  src/test/resources/mocks/hearing-party/sscsDailyList.json
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-554

#561 PUB-2264: Added sessionChannel to IAC Daily List
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/main/resources/schemas/iac_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-561

#560 PUB-2121 Handle publication file generation for large payload
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationUnauthorizedTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.8__add_payload_size_column.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-560

#569 PUB-2281 - Remove trailing slash option
  infrastructure/resources/operation-policies/uploadPublication.xml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebConfiguration.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-569

#567 PUB -2334 Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-567

#566 PUB-2303: Removed remaining "@schemaLocation" fields from schemas
  src/functionalTest/resources/data/civil-daily-cause-list/civilDailyCauseListInvalid.json
  src/main/resources/schemas/care_standards_list.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/primary_health_list.json
  src/test/resources/mocks/badJsonWithDuplicateError.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-566
