Repository hmcts/pip-data-management, pull requests merged in 2024-01, with the labels that each got.

#512 PUB-2240 Update Magistrates standard list schema for party and offence
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardList.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerService.java
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/test/resources/mocks/magistrates-standard-list/magistratesStandardList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-512

#520 PUB-2245 - Updated README
  README.md
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-520

#521 PUB-2182 add terraform_format.yml
  .github/workflows/terraform_format.yml
  infrastructure/providers.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-521

#528 Merge code freeze branch to Master
  .github/workflows/terraform_format.yml
  README.md
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  infrastructure/providers.tf
  infrastructure/tf-db-flexible.tf
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardList.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardListInvalid.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerService.java
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/test/resources/mocks/magistrates-standard-list/magistratesStandardList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-528

#518 PUB-1922 Handle deletion of artefacts with no match location ID
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationMissingHeadersTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-518

#523 PUB-2093 Mags Public List validation schema clean up
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicList.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicListInvalid.json
  src/main/resources/schemas/magistrates_public_list.json
  src/test/resources/mocks/magistrates_public_list/magistratesPublicList.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-523

#533 PUB-2288 Use V2 version of delete publication files endpoint
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-533

#534 PUB-2269 Removed Get Welcome endpoint from publication APIM
  infrastructure/resources/swagger/api-swagger.json
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-534

#519 PUB-2269 Refactor publication APIM
  infrastructure/data.tf
  infrastructure/resources/api-policy/api-policy.xml
  infrastructure/resources/operation-policies/uploadPublication.xml
  infrastructure/resources/operation-policies/uploadPublicationUsingPOST_1.xml
  infrastructure/resources/operation-policies/welcome.xml
  infrastructure/resources/swagger/api-swagger.json
  infrastructure/tf-apim-api.tf
  infrastructure/tf-apim-logger.tf
  infrastructure/tf-apim-operations.tf
Labels: ns:pip, prd:pip, destroy, rel:pip-data-management-pr-519

#531 PUB-2133 - Removed location MV
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, destroy, rel:pip-data-management-pr-531

#530 PUB-2113 - Updated spring boot
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/resources/db/migration/V1.7__update_welsh_region.sql
Labels: ns:pip, prd:pip, enable_keep_helm, rel:pip-data-management-pr-530

#532 PUB-2133 - updated to spring boot part 3
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, destroy, rel:pip-data-management-pr-532
