Repository hmcts/pip-data-management, pull requests merged in 2024-02, with the labels that each got.

#542 PUB-2278 Update JSON schema version and schema validator dependency
  build.gradle
  src/main/resources/schemas/care_standards_list.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/opa_press_list.json
  src/main/resources/schemas/opa_public_list.json
  src/main/resources/schemas/opa_results.json
  src/main/resources/schemas/primary_health_list.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/main/resources/schemas/sscs_daily_list.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-542

#536 Pub 2089 - Align JOH functionality
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseList.json
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseListInvalid.json
  src/functionalTest/resources/data/crown-daily-list/crownDailyList.json
  src/functionalTest/resources/data/crown-daily-list/crownDailyListInvalid.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmList.json
  src/functionalTest/resources/data/crown_firm_list/crownFirmListInvalid.json
  src/functionalTest/resources/data/family-daily-cause-list/familyDailyCauseList.json
  src/functionalTest/resources/data/family-daily-cause-list/familyDailyCauseListInvalid.json
  src/functionalTest/resources/data/hearing-party/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/hearing-party/civilAndFamilyDailyCauseListInvalid.json
  src/functionalTest/resources/data/hearing-party/familyDailyCauseList.json
  src/functionalTest/resources/data/hearing-party/familyDailyCauseListInvalid.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardList.json
  src/functionalTest/resources/data/magistrates-standard-list/magistratesStandardListInvalid.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicList.json
  src/functionalTest/resources/data/magistrates_public_list/magistratesPublicListInvalid.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyList.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyListInvalid.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/cop-daily-cause-list/copDailyCauseList.json
  src/test/resources/mocks/crown-daily-list/crownDailyList.json
  src/test/resources/mocks/crown_firm_list/crownFirmList.json
  src/test/resources/mocks/family-daily-cause-list/familyDailyCauseList.json
  src/test/resources/mocks/magistrates-standard-list/magistratesStandardList.json
  src/test/resources/mocks/magistrates_public_list/magistratesPublicList.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-536

#541 PUB-1619 - Updated fortify
  Jenkinsfile_nightly
  README.md
  build.gradle
  config/fortify-client.properties
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-541

#550 PUB-1619 - Updated pipeline
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-550

#547 PUB-2293 - Dependency updates
  .github/workflows/terraform_format.yml
  build.gradle
  charts/pip-data-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/SpringSecurityConfig.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/config/SpringSecurityConfigTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-547

#549 PUB-2300 Add security to Swagger API
  infrastructure/resources/swagger/api-swagger.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/ViewController.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-549

#540 PUB-2291-Updated OPA Lists
  src/functionalTest/resources/data/opa-press-list/opaPressList.json
  src/functionalTest/resources/data/opa-press-list/opaPressListInvalid.json
  src/functionalTest/resources/data/opa-public-list/opaPublicList.json
  src/functionalTest/resources/data/opa-public-list/opaPublicListInvalid.json
  src/main/resources/schemas/opa_press_list.json
  src/main/resources/schemas/opa_public_list.json
  src/test/resources/mocks/opa-press-list/opaPressList.json
  src/test/resources/mocks/opa-public-list/opaPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-540

#553 PUB-2337 - Enable graceful shutdown
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-553

#556 PUB-2262: Removing Individual Middle Name from the IAC List
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/main/resources/schemas/iac_daily_list.json
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-556

#555 PUB-2277: Tidying up all schemas and removing unused attributes from …
  src/main/resources/schemas/care_standards_list.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/primary_health_list.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/resources/mocks/badJsonPayload.json
  src/test/resources/mocks/hearing-party/jsonPayload.json
  src/test/resources/mocks/jsonPayload.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-555

#557 PUB-2339 - Updated party role for SSCS
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyList.json
  src/functionalTest/resources/data/sscs-daily-list/sscsDailyListInvalid.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/resources/mocks/sscs-daily-list/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-557
