Repository hmcts/pip-data-management, pull requests merged in 2024-04, with the labels that each got.

#575 PUB-2190: Added 'caseType' field to Civil Daily Cause list
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/civil-daily-cause-list/civilDailyCauseList.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/civil-daily-cause-list/civilDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-575

#574 PUB-2333 Handle concurrent publication uploads
  build.gradle
  infrastructure/resources/swagger/api-swagger.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CreateArtefactConflictException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationCreationRunner.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/RetryListenerForPublications.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/main/resources/db/migration/V1.9__add_unique_publication_index.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CreatePublicationRetryTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationCreationRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerServiceTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-data-management-pr-574, stg/add-or-update

#576 PUB-2304 Removed unused region and regionalJOH fields
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-576

#577 PUB-2211 Removed old LCSU code
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusApiTest.java
  src/functionalTest/resources/mocks/hearingsList.json
  src/functionalTest/resources/mocks/liveCaseStatusUpdates.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusUpdatesController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearings.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/LiveCaseStatusException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/lcsu/CaseEventGlossary.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/lcsu/Event.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/lcsu/LiveCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/lcsu/Updates.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/CaseEventGlossaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LiveCaseStatusService.java
  src/main/resources/mocks/CaseEventGlossary.json
  src/main/resources/mocks/liveCaseStatusUpdates.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/CaseEventGlossaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/LiveCaseStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/database/CourtsAndHearingsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/EventGlossaryHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/LiveCaseHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/CourtEventGlossaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LiveCaseStatusServiceTest.java
  src/test/resources/mocks/hearingsList.json
  src/test/resources/mocks/liveCaseStatusUpdates.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-577

#578 PUB-2263 - Individual Middle Name removed from the ET Lists
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressListInvalid.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-578

#579 PUB-2375 - Dependency updates
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInvalidHeadersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationMissingHeadersTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactTriggerServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, rel:pip-data-management-pr-579

#565 Pub 2186 iac daily cause list updates
  src/functionalTest/resources/data/iac-daily-list/iacDailyList.json
  src/functionalTest/resources/data/iac-daily-list/iacDailyListInvalid.json
  src/main/resources/schemas/iac_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/resources/mocks/iac-daily-list/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-565

#580 PUB-1936 Prevent creation of multiple location with the same name
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportApiTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/location/ValidCsv.csv
  src/functionalTest/resources/location/ValidCsvWithExistingLocationName.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CreateLocationConflictException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/resources/db/migration/V1.10__add_location_name_unique_constraint.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/CustomExceptionsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/resources/csv/ValidCsvWithExistingLocationName.csv
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-580

#581 PUB-2428 SJP Press List DOB and age optional
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationSjpPressTest.java
  src/functionalTest/resources/data/sjp-press-list/sjpPressList.json
  src/functionalTest/resources/data/sjp-press-list/sjpPressListInvalid.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-581
