Repository hmcts/pip-data-management, pull requests merged in 2024-11, with the labels that each got.

#646 PUB-2650 - Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/config/SwaggerPublisherTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-646

#649 Pub 2561 - Publication functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/UploadPublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/utils/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/utils/TestUtil.java
  src/functionalTest/resources/data/civilDailyCauseList.json
  src/functionalTest/resources/data/testFlatFile.pdf
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-649

#650 PUB-2563 - Add PDF and Email Summary
  Jenkinsfile_CNP
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.stg.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/location/LocationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/FileGenerationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/utils/FunctionalTestBase.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/data/sjpPublicList.json
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfigurationTestConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/AzureBlobConfiguration.java
Labels: ns:pip, prd:pip, enable_keep_helm, rel:pip-data-management-pr-650

#651 PUB-2661 - Added Functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/location/LocationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/FileGenerationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/utils/FunctionalTestBase.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-651

#652 PUB-2578 Add Data JPA tests to data-management integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepositorySearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepositoryTest.java
  src/integrationTest/resources/application-integration-jpa.yaml
  src/integrationTest/resources/data/caseNumberSearchValues.json
  src/integrationTest/resources/data/caseUrnSearchValues.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-652

#654 PUB-2660 Mock account-management service for data-management integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationSubscriptionSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/utils/IntegrationTestBase.java
  src/integrationTest/resources/application-integration.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-654
