Repository hmcts/pip-data-management, pull requests merged in 2024-09, with the labels that each got.

#628 Updated blob storage
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-628

#629 Updated blobstorage
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.dev.template.yaml
  charts/pip-data-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-629

#630 PUB-2586 - Updated Regex
  src/main/resources/schemas/care_standards_list.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/civil_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/main/resources/schemas/iac_daily_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/main/resources/schemas/magistrates_standard_list.json
  src/main/resources/schemas/opa_press_list.json
  src/main/resources/schemas/opa_public_list.json
  src/main/resources/schemas/opa_results.json
  src/main/resources/schemas/primary_health_list.json
  src/main/resources/schemas/sscs_daily_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CareStandardsListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/CrownWarnedListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/EtFortnightlyPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/IacDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesStandardListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/OpaPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/OpaPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/OpsResultsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SscsDailyListTest.java
  src/test/resources/mocks/badJsonWithDuplicateError.json
  src/test/resources/mocks/careStandardsListWithNewLines.json
  src/test/resources/mocks/civilAndFamilyDailyCauseListWithNewLines.json
  src/test/resources/mocks/civilDailyCauseListWithNewLines.json
  src/test/resources/mocks/copDailyCauseListWithNewLines.json
  src/test/resources/mocks/crownDailyListWithNewLines.json
  src/test/resources/mocks/crownFirmListWithNewLines.json
  src/test/resources/mocks/crownWarnedListWithNewLines.json
  src/test/resources/mocks/etDailyListWithNewLines.json
  src/test/resources/mocks/etFortnightlyPressListWithNewLines.json
  src/test/resources/mocks/familyDailyCauseListWithNewLines.json
  src/test/resources/mocks/iacDailyListWithNewLines.json
  src/test/resources/mocks/magistratesPublicListWithNewLines.json
  src/test/resources/mocks/magistratesStandardListWithNewLines.json
  src/test/resources/mocks/opaPressListWithNewLines.json
  src/test/resources/mocks/opaPublicListWithNewLines.json
  src/test/resources/mocks/opaResultsWithNewLines.json
  src/test/resources/mocks/primaryHealthListWithNewLines.json
  src/test/resources/mocks/sscsDailyListWithNewLines.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-630
