Repository hmcts/pip-data-management, pull requests merged in 2024-08, with the labels that each got.

#617 PUB-2545 - Lower generated publication limit
  README.md
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-617

#613 PUB-2527 - Change claimant to applicant on ET lists
  src/functionalTest/resources/data/et-daily-list/etDailyList.json
  src/functionalTest/resources/data/et-daily-list/etDailyListInvalid.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressList.json
  src/functionalTest/resources/data/et-fortnightly-press-list/etFortnightlyPressListInvalid.json
  src/main/resources/schemas/et_daily_list.json
  src/main/resources/schemas/et_fortnightly_press_list.json
  src/test/resources/mocks/et-daily-list/etDailyList.json
  src/test/resources/mocks/et-fortnightly-press-list/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-613

#619 PUB-2552 - Update regex for SJP lists
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-619

#622 PUB-2551 - Remove unneeded spring boot test annotation
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CrownDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CrownFirmListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/EtFortnightlyPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/SjpPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/SscsDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-622

#620 PUB-2557 Update regex for all fields in SJP lists
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/RegexValidationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/main/resources/schemas/single_justice_procedure_public.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPublicListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/hearingparty/JsonExtractorTest.java
  src/test/resources/mocks/sjpPressListWithNewLines.json
  src/test/resources/mocks/sjpPublicListWithNewLines.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-620

#618 PUB-2511: Updating dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-618

#621 PUB-2522 Removed expiry date from Artefact
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/publication/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationCreationRunner.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/ArtefactConstantTestHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationCreationRunnerTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-621
