Repository hmcts/pip-data-management, pull requests merged in 2024-06, with the labels that each got.

#594 PUB-2474 OPA Results - Move offence to individualDetails/organisationDetails level
  src/functionalTest/resources/data/opa-results/opaResults.json
  src/functionalTest/resources/data/opa-results/opaResultsInvalid.json
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/opa_results.json
  src/test/resources/mocks/opa-results/opaResults.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-594

#603 PUB-2487 - Updated regex for address line
  src/main/resources/schemas/master_schema.json
  src/main/resources/schemas/single_justice_procedure_press.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/SjpPressListTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-603

#595 PUB-2363 - Update Data Models version number
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-595

#596 PUB-2461: Updating to Java 21
  .github/workflows/ci.yml
  Dockerfile
  README.md
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-596

#597 PUB-2454 - Updated Data Management with new list type - IAC Daily Lis…
  build.gradle
  infrastructure/resources/swagger/api-swagger.json
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/PublicationIacDailyListTest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-597

#604 PUB-2448 Add case reporting restrictions for Family, Mixed and COP lists
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/civil-and-family-cause-list/civilAndFamilyDailyCauseListInvalid.json
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseList.json
  src/functionalTest/resources/data/cop-daily-cause-list/copDailyCauseListInvalid.json
  src/functionalTest/resources/data/family-daily-cause-list/familyDailyCauseList.json
  src/functionalTest/resources/data/family-daily-cause-list/familyDailyCauseListInvalid.json
  src/functionalTest/resources/data/hearing-party/civilAndFamilyDailyCauseList.json
  src/functionalTest/resources/data/hearing-party/civilAndFamilyDailyCauseListInvalid.json
  src/functionalTest/resources/data/hearing-party/familyDailyCauseList.json
  src/functionalTest/resources/data/hearing-party/familyDailyCauseListInvalid.json
  src/main/resources/schemas/civil_and_family_daily_cause_list.json
  src/main/resources/schemas/cop_daily_cause_list.json
  src/main/resources/schemas/family_daily_cause_list.json
  src/test/resources/mocks/civil-and-family-cause-list/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/cop-daily-cause-list/copDailyCauseList.json
  src/test/resources/mocks/family-daily-cause-list/familyDailyCauseList.json
  src/test/resources/mocks/hearing-party/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/hearing-party/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-604

#605 PUB-2490 - Updated jenkins nightly time
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-605
