Repository hmcts/pip-data-management, pull requests merged in 2024-07, with the labels that each got.

#607 PUB-2500: Removing party at hearing level from schemas
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/hearingparty/PublicationCrownDailyListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/hearingparty/PublicationCrownFirmListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/hearingparty/PublicationCrownWarnedListTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/hearingparty/PublicationMagsPublicListTest.java
  src/functionalTest/resources/data/hearing-party/crownDailyList.json
  src/functionalTest/resources/data/hearing-party/crownDailyListInvalid.json
  src/functionalTest/resources/data/hearing-party/crownFirmList.json
  src/functionalTest/resources/data/hearing-party/crownFirmListInvalid.json
  src/functionalTest/resources/data/hearing-party/crownWarnedList.json
  src/functionalTest/resources/data/hearing-party/crownWarnedListInvalid.json
  src/functionalTest/resources/data/hearing-party/magistratesPublicList.json
  src/functionalTest/resources/data/hearing-party/magistratesPublicListInvalid.json
  src/main/resources/schemas/crown_daily_list.json
  src/main/resources/schemas/crown_firm_list.json
  src/main/resources/schemas/crown_warned_list.json
  src/main/resources/schemas/magistrates_public_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/schemavalidation/CrownDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/schemavalidation/CrownFirmListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/schemavalidation/CrownWarnedListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/schemavalidation/MagistratesPublicListTest.java
  src/test/resources/mocks/hearing-party/crownDailyList.json
  src/test/resources/mocks/hearing-party/crownFirmList.json
  src/test/resources/mocks/hearing-party/crownWarnedList.json
  src/test/resources/mocks/hearing-party/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-607

#608 PUB-2509 Stop generating search criteria for payload over limit
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationCreationRunner.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationCreationRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-608

#609 PUB-2480 - SSO users to receive notifications
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefact/ArtefactDeleteServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-609

#606 PUB-2489 - Update dependencies
  build.gradle
  charts/pip-data-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-606
