Repository hmcts/pip-data-management, pull requests merged in 2024-10, with the labels that each got.

#631 Added New functional happy path tests for location controller end-points
  charts/pip-data-management/values.dev.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/location/LocationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/UploadPublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/utils/FunctionalTestBase.java
  src/functionalTest/resources/location/ValidLocations.csv
  src/main/resources/db/migration/V1.11__add_location_reference.sql
  src/main/resources/db/migration/V1.12__add_email_and_number.sql
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-631

#638 PUB-2233 Removed parties at hearing level
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/hearingparty/PublicationManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/hearingparty/PublicationCivilAndFamilyCauseListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/lists/hearingparty/PublicationFamilyDailyCauseListTest.java
  src/integrationTest/resources/data/artefact.json
  src/integrationTest/resources/data/hearing-party/civilAndFamilyDailyCauseList.json
  src/integrationTest/resources/data/hearing-party/civilAndFamilyDailyCauseListInvalid.json
  src/integrationTest/resources/data/hearing-party/familyDailyCauseList.json
  src/integrationTest/resources/data/hearing-party/familyDailyCauseListInvalid.json
  src/integrationTest/resources/data/hearing-party/sscsDailyList.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/FamilyMixedDailyCauseListSummaryData.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/CftListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/FamilyMixedListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/SscsListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/familyDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/CftListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/CivilAndFamilyDailyCauseListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/FamilyDailyCauseListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/FamilyMixedListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/SscsDailyListArtefactSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/SscsListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/schemavalidation/CivilAndFamilyDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/hearingparty/schemavalidation/FamilyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/utils/hearingparty/JsonExtractorTest.java
  src/test/resources/mocks/hearingparty/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/hearingparty/familyDailyCauseList.json
  src/test/resources/mocks/hearingparty/jsonPayload.json
  src/test/resources/mocks/hearingparty/jsonPayloadWithParties.json
  src/test/resources/mocks/hearingparty/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-638

#641 PUB-2595 - Updated hearing type
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesStandardListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-641

#639 PUB-2618 - Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-639
