Repository hmcts/pip-data-management, pull requests merged in 2025-08, with the labels that each got.

#760 PUB-2969 Update data-management endpoints to use query parameters
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/location/LocationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/location/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationSearchTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/location/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationReportingController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationSearchController.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/location/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationSearchControllerTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-760

#767 PUB-2960 Add PDF and email summary for Magistrates Adult Court List
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/summary/PublicationSummaryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesAdultCourtListTest.java
  src/integrationTest/resources/data/magistrates-adult-court-list/magistratesAdultCourtList.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/templatemodels/magistratesadultcourtlist/CaseInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/templatemodels/magistratesadultcourtlist/MagistratesAdultCourtList.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/templatemodels/magistratesadultcourtlist/Offence.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/MagistratesAdultCourtListSummaryData.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesAdultCourtListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/MagistratesAdultCourtListHelper.java
  src/main/resources/application.yaml
  src/main/resources/schemas/magistrates_adult_court_list.json
  src/main/resources/templates/languages/cy/magistratesAdultCourtListDaily.json
  src/main/resources/templates/languages/en/magistratesAdultCourtListDaily.json
  src/main/resources/templates/magistratesAdultCourtListDaily.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/MagistratesAdultCourtListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesAdultCourtListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/MagistratesAdultCourtListHelperTest.java
  src/test/resources/mocks/magistratesAdultCourtList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-767

#772 PUB-2961 - Mags Public List
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/summary/PublicationSummaryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/MagistratesPublicAdultCourtListTest.java
  src/integrationTest/resources/data/magistrates-public-adult-court-list/magistratesPublicAdultCourtList.json
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/MagistratesAdultCourtListSummaryData.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesAdultCourtListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/MagistratesAdultCourtListHelper.java
  src/main/resources/application.yaml
  src/main/resources/schemas/magistrates_public_adult_court_list.json
  src/main/resources/templates/languages/cy/magistratesPublicAdultCourtListDaily.json
  src/main/resources/templates/languages/en/magistratesPublicAdultCourtListDaily.json
  src/main/resources/templates/magistratesPublicAdultCourtListDaily.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/MagistratesAdultCourtListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/MagistratesAdultCourtListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/MagistratesAdultCourtListHelperTest.java
  src/test/resources/mocks/magistratesPublicAdultCourtList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-772
