Repository hmcts/pip-data-management, pull requests merged in 2025-04, with the labels that each got.

#705 PUB-2791 - Monthly dependency update
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/data/management/utils/JsonExtractor.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CareStandardsListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CrownWarnedListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/EtDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/IacDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/PrimaryHealthListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/AstDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/CstWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/FttLandRegistryWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/FttResidentialPropertyWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/FttTaxWeeklyHearingListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/GrcWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/PhtWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/SiacWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/SscsDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtAdministrativeAppealsChamberDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtIacJudicialReviewDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtIacStatutoryAppealsDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtLandsChamberDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtTaxAndChanceryChamberDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/WpafccWeeklyHearingListFileConverterTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-705

#713 PUB-2831 - SSCS Updates
  build.gradle
  src/main/resources/templates/languages/cy/non-strategic/sscsLondonDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsMidlandsDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsNorthEastDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsNorthWestDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsScotlandDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsSouthEastDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsWalesAndSouthWestDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsLondonDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsMidlandsDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsNorthEastDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsNorthWestDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsScotlandDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsSouthEastDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsWalesAndSouthWestDailyHearingList.json
  src/main/resources/templates/non-strategic/sscsMidlandsDailyHearingList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/SscsDailyHearingListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-713

#715 PUB-2853 Update testing support location API
  src/main/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelperTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-715
