Repository hmcts/pip-data-management, pull requests merged in 2025-03, with the labels that each got.

#697 PUB-2739 Add Asylum Support Tribunal Daily Hearing List
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/AstDailyHearingListTest.java
  src/integrationTest/resources/data/non-strategic/ast-daily-hearing-list/astDailyHearingList.json
  src/integrationTest/resources/data/non-strategic/ast-daily-hearing-list/astDailyHearingList.xlsx
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/NonStrategicListSummaryData.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicListFormatter.java
  src/main/resources/application.yaml
  src/main/resources/schemas/non-strategic/ast_daily_hearing_list.json
  src/main/resources/templates/languages/cy/non-strategic/astDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/astDailyHearingList.json
  src/main/resources/templates/non-strategic/astDailyHearingList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/AstDailyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/AstDailyHearingListFileConverterTest.java
  src/test/resources/mocks/non-strategic/astDailyHearingList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-697

#698 PUB-2721 Add Mental Health Hearing List
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-698

#704 PUB-2827 - Updated to use the oci repo
  charts/pip-data-management/Chart.yaml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-704
