Repository hmcts/pip-data-management, pull requests merged in 2025-05, with the labels that each got.

#687 PUB-2730 Update calls to subscription-management
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/pip-data-management/Chart.yaml
  charts/pip-data-management/values.yaml
  data-man-arch.png
  service-diagram.png
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationUnauthorizedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/utils/IntegrationTestBase.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/ArtefactDeleteService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/ArtefactTriggerService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/publication/ArtefactDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/publication/ArtefactTriggerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-687

#723 Removed invalid extension
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-723

#724 PUB-2817 - Updated monthly dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/RegexValidationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/FileConverter.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-724

#712 PUB-2853 Add jurisdiction type to location table
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/location/LocationTest.java
  src/functionalTest/resources/location/ValidLocations.csv
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepositoryTest.java
  src/integrationTest/resources/location/InvalidCsvWithoutLocationType.csv
  src/integrationTest/resources/location/UpdatedCsv.csv
  src/integrationTest/resources/location/ValidCsv.csv
  src/integrationTest/resources/location/ValidCsvForDeleteCourt.csv
  src/integrationTest/resources/location/ValidCsvWithExistingLocationName.csv
  src/integrationTest/resources/location/ValidReferenceData.csv
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/models/location/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/LocationService.java
  src/main/resources/db/migration/V1.13__add_jurisdiction_type_to_location.sql
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-712
