Repository hmcts/pip-data-management, pull requests merged in 2025-09, with the labels that each got.

#774 PUB-2965 - Removed CIC Daily Hearing List
  build.gradle
  infrastructure/resources/swagger/api-swagger.json
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-774

#773 PUB-2993 Do not send PDDA file to AWS bucket on Production
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/functionalTest/resources/data/testFile.html
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/FileUploadException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/exceptions/LcsuArtefactNotSupportedException.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationServicesServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-773

#777 PUB-3005 Remove obsolete data-management endpoints
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/location/LocationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/location/LocationApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationSearchTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/location/LocationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationSearchController.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/location/LocationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/publication/PublicationSearchControllerTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-777
