Repository hmcts/pip-data-management, pull requests merged in 2025-02, with the labels that each got.

#684 PUB-2708 - Add MI endpoint
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationUnauthorizedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-684

#688 PUB-2751 Add smoke tests
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/FileGenerationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/utils/FunctionalTestBase.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/TestClass.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/utils/OAuthClient.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/utils/SmokeTestBase.java
  src/smokeTest/resources/civilDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-688

#693 PUB-2776 Fixed issue with test data not removed after smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/data/management/utils/SmokeTestBase.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-693

#696 Update README.md
  README.md
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-696

#690 PUB-2758 Monthly dependency update
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/ArtefactSearchService.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-690

#691 PUB-2755 Add SSCS Daily Hearing Lists
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsLondonDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsMidlandsDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsNorthEastDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsNorthWestDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsScotlandDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsSouthEastDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/SscsWalesAndSouthWestDailyHearingListTest.java
  src/integrationTest/resources/data/non-strategic/sscs-daily-hearing-list/sscsDailyHearingList.json
  src/integrationTest/resources/data/non-strategic/sscs-daily-hearing-list/sscsDailyHearingList.xlsx
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/NonStrategicListSummaryData.java
  src/main/resources/application.yaml
  src/main/resources/schemas/non-strategic/sscs_daily_hearing_list.json
  src/main/resources/templates/languages/cy/non-strategic/sscsLondonDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsMidlandsDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsNorthEastDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsNorthWestDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsScotlandDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsSouthEastDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/sscsWalesAndSouthWestDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsLondonDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsMidlandsDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsNorthEastDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsNorthWestDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsScotlandDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsSouthEastDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/sscsWalesAndSouthWestDailyHearingList.json
  src/main/resources/templates/non-strategic/sscsMidlandsDailyHearingList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/SscsDailyHearingListsSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/SscsDailyHearingListFileConverterTest.java
  src/test/resources/mocks/non-strategic/sscsDailyHearingList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-691

#699 PUB-2762 - Update to the UT-AAC Tribunal Open Justice Statement
  src/main/resources/templates/languages/cy/non-strategic/utAacDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/utAacDailyHearingList.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtAdministrativeAppealsChamberDailyHearingListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-699

#692 PUB-2763 - Update UT-IAC Statutory Appeal Tribunal hearing list
  build.gradle
  src/main/resources/templates/languages/cy/non-strategic/utIacStatutoryAppealsDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/utIacStatutoryAppealsDailyHearingList.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtIacStatutoryAppealsDailyHearingListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-692

#694 PUB-2772 Allow colon and full stop in non-strategic time format
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicFieldFormattingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicListFormatter.java
  src/main/resources/schemas/non-strategic/ftt-land-registry-tribunal-weekly-hearing-list.json
  src/main/resources/schemas/non-strategic/ftt-residential-property-tribunal-weekly-hearing-list.json
  src/main/resources/schemas/non-strategic/ftt-tax-chamber-tribunal-weekly-hearing-list.json
  src/main/resources/schemas/non-strategic/grc_weekly_hearing_list.json
  src/main/resources/schemas/non-strategic/siac_weekly_hearing_list.json
  src/main/resources/schemas/non-strategic/sscs_daily_hearing_list.json
  src/main/resources/schemas/non-strategic/ut_administrative_appeals_chamber_daily_hearing_list.json
  src/main/resources/schemas/non-strategic/ut_iac_judicial_reviews_daily_hearing_list.json
  src/main/resources/schemas/non-strategic/ut_iac_statutory_appeals_daily_hearing_list.json
  src/main/resources/schemas/non-strategic/ut_lands_chamber_daily_hearing_list.json
  src/main/resources/schemas/non-strategic/ut_tax_and_chancery_chamber_daily_hearing_list.json
  src/main/resources/schemas/non-strategic/wpafcc_weekly_hearing_list.json
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/FttLandRegistryWeeklyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/FttResidentialPropertyWeeklyHearingListsSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/FttTaxWeeklyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/GrcWeeklyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/SiacWeeklyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/SscsDailyHearingListsSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/UtAdministrativeAppealsChamberDailyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/UtLandsChamberAndTaxCcDailyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/WpafccWeeklyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicFieldFormattingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicListFormatterTest.java
  src/test/resources/mocks/non-strategic/fttLandRegistryTribunalWeeklyHearingList.json
  src/test/resources/mocks/non-strategic/fttResidentialPropertyTribunalWeeklyHearingList.json
  src/test/resources/mocks/non-strategic/fttTaxWeeklyHearingList.json
  src/test/resources/mocks/non-strategic/grcWeeklyHearingList.json
  src/test/resources/mocks/non-strategic/siacWeeklyHearingList.json
  src/test/resources/mocks/non-strategic/sscsDailyHearingList.json
  src/test/resources/mocks/non-strategic/utAdministrativeAppealsChamberDailyHearingList.json
  src/test/resources/mocks/non-strategic/utLandsChamberDailyHearingList.json
  src/test/resources/mocks/non-strategic/utTaxAndChanceryChamberDailyHearingList.json
  src/test/resources/mocks/non-strategic/wpafccWeeklyHearingList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-694

#695 PUB-2768 Removed previous version of MI data endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationUnauthorizedTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/ArtefactRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/publication/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-695
