Repository hmcts/pip-data-management, pull requests merged in 2025-01, with the labels that each got.

#670 PUB-2712 Add CIC Daily Hearing List
  build.gradle
  infrastructure/resources/swagger/api-swagger.json
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-670

#668 PUB-2693 - Monthly Dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationFileGenerationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/publication/CreatePublicationRetryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/utils/IntegrationBasicTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/utils/IntegrationCommonTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/utils/IntegrationTestBase.java
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-668

#676 Moved out non-strategic publication integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/NonStrategicPublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-676

#655 Pub 2642 list type confirmation page
  src/main/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/helpers/TestingSupportLocationHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-655

#677 PUB-2702 Update dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update

#680 PUB-2742 Update and Add UT IAC Lists
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/UtIacJudicialReviewsBirminghamDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/UtIacJudicialReviewsCardiffDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/UtIacJudicialReviewsLondonDailyHearingListTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/UtIacJudicialReviewsManchesterDailyHearingListTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/NonStrategicListSummaryData.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicListFormatter.java
  src/main/resources/application.yaml
  src/main/resources/templates/languages/cy/non-strategic/utIacJrBirminghamDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/utIacJrCardiffDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/utIacJrLondonDailyHearingList.json
  src/main/resources/templates/languages/cy/non-strategic/utIacJrManchesterDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/utIacJrBirminghamDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/utIacJrCardiffDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/utIacJrLondonDailyHearingList.json
  src/main/resources/templates/languages/en/non-strategic/utIacJrManchesterDailyHearingList.json
  src/main/resources/templates/non-strategic/utIacJrLondonDailyHearingList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/UtIacJudicialReviewDailyHearingListSummaryDataTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtIacJudicialReviewDailyHearingListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-680

#681 PUB-2736 Update non-strategic list PDF
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationFileGenerationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationFileGenerationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/NonStrategicListFileConverter.java
  src/main/resources/templates/languages/cy/common/nonStrategicCommon.json
  src/main/resources/templates/languages/en/common/nonStrategicCommon.json
  src/main/resources/templates/non-strategic/cstWeeklyHearingList.html
  src/main/resources/templates/non-strategic/fttLrWeeklyHearingList.html
  src/main/resources/templates/non-strategic/fttTaxWeeklyHearingList.html
  src/main/resources/templates/non-strategic/grcWeeklyHearingList.html
  src/main/resources/templates/non-strategic/phtWeeklyHearingList.html
  src/main/resources/templates/non-strategic/rptLondonWeeklyHearingList.html
  src/main/resources/templates/non-strategic/siacWeeklyHearingList.html
  src/main/resources/templates/non-strategic/utAacDailyHearingList.html
  src/main/resources/templates/non-strategic/utIacJrLondonDailyHearingList.html
  src/main/resources/templates/non-strategic/utIacStatutoryAppealsDailyHearingList.html
  src/main/resources/templates/non-strategic/utLcDailyHearingList.html
  src/main/resources/templates/non-strategic/utTAndCcDailyHearingList.html
  src/main/resources/templates/non-strategic/wpafccWeeklyHearingList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationFileGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/CstWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/FttLandRegistryWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/FttResidentialPropertyWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/FttTaxWeeklyHearingListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/GrcWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/PhtWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/SiacWeeklyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtAdministrativeAppealsChamberDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtIacJudicialReviewDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtIacStatutoryAppealsDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtLandsChamberDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/UtTaxAndChanceryChamberDailyHearingListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/WpafccWeeklyHearingListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-681
