Repository hmcts/pip-data-management, pull requests merged in 2025-06, with the labels that each got.

#725 PUB-2847 Add Court of Appeal (Civil Division) Daily Cause List
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/PublicationManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/CourtOfAppealCivilDailyCauseListTest.java
  src/integrationTest/resources/data/non-strategic/court-of-appeal-civil-daily-cause-list/courtOfAppealCivilDailyCauseList.json
  src/integrationTest/resources/data/non-strategic/court-of-appeal-civil-daily-cause-list/courtOfAppealCivilDailyCauseList.xlsx
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/NonStrategicListSummaryData.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/NonStrategicListFormatter.java
  src/main/resources/application.yaml
  src/main/resources/schemas/non-strategic/court_of_appeal_civil_daily_cause_list.json
  src/main/resources/templates/languages/cy/non-strategic/courtOfAppealCivilDailyCauseList.json
  src/main/resources/templates/languages/en/non-strategic/courtOfAppealCivilDailyCauseList.json
  src/main/resources/templates/non-strategic/courtOfAppealCivilDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/artefactsummary/nonstrategic/CourtOfAppealCivilDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/CourtOfAppealCivilDailyCauseListTest.java
  src/test/resources/mocks/non-strategic/courtOfAppealCivilDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-725

#731 PUB-2899 - Azure DevOps
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-731

#738 PUB-2922 - Updated open justice statement
  src/main/resources/templates/languages/cy/non-strategic/countyCourtLondonCivilDailyCauseList.json
  src/main/resources/templates/languages/cy/non-strategic/mayorAndCityCivilDailyCauseList.json
  src/main/resources/templates/languages/en/non-strategic/countyCourtLondonCivilDailyCauseList.json
  src/main/resources/templates/languages/en/non-strategic/mayorAndCityCivilDailyCauseList.json
  src/main/resources/templates/non-strategic/countyCourtLondonCivilDailyCauseList.html
  src/main/resources/templates/non-strategic/mayorAndCityCivilDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/CountyCourtLondonCivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/MayorAndCityCivilDailyCauseListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-738

#736 PUB-2917 Add Planning Court in London Administrative Court
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/schemavalidation/nonstrategic/LondonAdministrativeCourtDailyCauseListTest.java
  src/integrationTest/resources/data/non-strategic/london-administrative-court-daily-cause-list/londonAdministrativeCourtDailyCauseList.json
  src/integrationTest/resources/data/non-strategic/london-administrative-court-daily-cause-list/londonAdministrativeCourtDailyCauseList.xlsx
  src/main/resources/schemas/non-strategic/london_administrative_court_daily_cause_list.json
  src/main/resources/templates/languages/cy/non-strategic/londonAdministrativeCourtDailyCauseList.json
  src/main/resources/templates/languages/en/non-strategic/londonAdministrativeCourtDailyCauseList.json
  src/main/resources/templates/non-strategic/londonAdministrativeCourtDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/LondonAdministrativeCourtDailyCauseListFileConverterTest.java
  src/test/resources/mocks/non-strategic/londonAdministrativeCourtDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-736

#737 PUB-2906 Update important information for Family Division High Court Daily Cause List
  src/main/resources/templates/languages/cy/non-strategic/familyDivisionHighCourtDailyCauseList.json
  src/main/resources/templates/languages/en/non-strategic/familyDivisionHighCourtDailyCauseList.json
  src/main/resources/templates/non-strategic/familyDivisionHighCourtDailyCauseList.html
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-737

#745 PUB-2878 - Monthly Dependencies
  .github/workflows/terraform_format.yml
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/data/management/publication/PublicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/controllers/headers/PublicationInternalCourtIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/data/management/service/ValidationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/database/AzurePublicationBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationFileGenerationService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/CrownFirmListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/PublicationManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CareStandardsListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/EtDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/PrimaryHealthListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/SjpPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/JudiciaryHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/LocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/PartyRoleHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/PartyRoleMapperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/helpers/listmanipulation/MagistratesStandardListHelperTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-data-management-pr-745

#741 PUB-2934 Update address for Senior Courts Costs Office Daily Cause List
  src/main/resources/templates/languages/cy/non-strategic/seniorCourtsCostsOfficeDailyCauseList.json
  src/main/resources/templates/languages/en/non-strategic/seniorCourtsCostsOfficeDailyCauseList.json
  src/main/resources/templates/non-strategic/seniorCourtsCostsOfficeDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/data/management/service/filegeneration/nonstrategic/SeniorCourtsCostsOfficeDailyCauseListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-data-management-pr-741
